doctype html
html
  head
    title Kuldeep Dance Academy
    block scripts
    block style
  body
    nav#navbar
      ul
          div#logo
              img(src="/static/img/logo.png")
              | KDA
          li #[a(href="/") Home]
          li #[a(href="/about") About]
          li #[a(href="/services") Services]
          li #[a(href="/info") Class Info]
          li #[a(href="/contact") Contact Us]
    block content
    footer#footer
      | Copyright © 2020 KuldeepAcademy.com | All Rights Reserved