extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/styleServices.css

block content
    div.container
        h1 This is Services Page Of My Dance Website