@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 74vh;
    margin: 43px 0;
}

.container h1{
    font-size: 35px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}